@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

#viewHeight {
  height: 100%;
}

.row {
  background-color: #000000;
}

#aboutMe {
  height: 100%;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 70px;
  padding-top: 25px;
  color: white;
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0.4, 0, 1, 1) 5.5s forwards;
}

#theP {
  padding-top: 25px;
  font-size: 24px;
  color: white;
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0.4, 0, 1, 1) 6s forwards;
}

#projHead {
  font-size: 60px;
}

/*
  this is all bubble stuff 
*/

#BGBubble {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#circle1 {
  width: 1000px;
  height: 1000px;
  background-color: #2A3237;
  border-radius: 50%;
  opacity: 0; 
  animation: fade-in 1s cubic-bezier(0.4, 0, 1, 1) 2s forwards, blurring 1s 4.5s forwards;
  position: absolute;
  left: -225px;
  top: -250px;
}

#circle2 {
  width: 1100px;
  height: 1100px;
  background-color: #1E2328;
  border-radius: 50%;
  opacity: 0; 
  animation: fade-in 1s cubic-bezier(0.4, 0, 1, 1) 2.5s forwards, blurring 1s 4.5s forwards;
  position: absolute;
  left: 550px;
  top: -225px;
}

#circle3 {
  width: 1200px;
  height: 1200px;
  background-color: #32383E;
  border-radius: 50%;
  opacity: 0; 
  animation: fade-in 1s cubic-bezier(0.4, 0, 1, 1) 3s forwards, blurring 1s 4.5s forwards;
  position: absolute;
  left: -300px;
  top: 375px;
}

#circle4 {
  width: 1400px;
  height: 1400px;
  background-color: #242A30;
  border-radius: 50%;
  opacity: 0; 
  animation: fade-in 1s cubic-bezier(0.4, 0, 1, 1) 3.5s forwards, blurring 1s 4.5s forwards;
  position: absolute;
  left: 450px;
  top: 550px;
}

@media (max-width: 767.98px) {
  /* Styles for extra small devices (up to 767.98px) */

  #circle1 {
    width: 600px;
    height: 600px;
    left: -100px;
    top: -100px;
  }

  #circle2 {
    width: 700px;
    height: 700px;
    left: 150px;
    top: -50px;
  }

  #circle3 {
    width: 800px;
    height: 800px;
    left: -325px;
    top: 300px;
  }

  #circle4 {
    width: 900px;
    height: 900px;
    left: 50px;
    top: 375px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for small devices (768px - 991.98px) */

  #circle1 {
      width: 800px;
      height: 800px;
      left: -100px;
      top: -200px;
  }
  
    #circle2 {
      width: 900px;
      height: 900px;
      left: 250px;
      top: -150px;
  }
  
    #circle3 {
      width: 1000px;
      height: 1000px;
      left: -250px;
      top: 350px;
  }
  
    #circle4 {
      width: 1100px;
      height: 1100px;
      left: 275px;
      top: 400px;
  }
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes blurring {
  from {
      filter: blur(0px);
  }
  to {
      filter: blur(50px);
  }
}

.projects-container {
  z-index: 1; 
}