#projectCarousel {
    height: 100%;
    background-color: #1B262C;
}

p {
    color: white;
    font-size: 14px;
}

#linkButton {
    color: white;
    background-color: orange;
    border: 0px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#projectCarousel {
    position: relative;
    width: 100%;
    padding-bottom: 60%; 
  }
  
  .carousel-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }