#transitionToCarousel {
    background: linear-gradient(#0F4C75, #1B262C);
    height: 200px;
}

#projectCarousel {
    height: 100%;
    background-color: #1B262C;
}

p {
    color: white;
    font-size: 14px;
}

#transitionToContact {
    background: #1B262C;
    height: 200px;
}

#linkButton {
    color: white;
    background-color: orange;
    border: 0px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}